<div *ngIf="carregando" class="progress">
    <div class="indeterminate"></div>
</div>
<br>
<br>
<h6 *ngIf="!imagensDB">Não há camisa adicionada</h6>

<div *ngIf="imagensDB">
    <br>
    <br>
    <br>
    <h6>Camisas adicionadas</h6>
    <br>
    <table>
        <thead>
            <tr>
                <th>Camisas</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let imagem of imagensDB">
                <td>
                    <img src="assets/images/{{imagem}}.png"/>
                </td>
                <td class="remove-parent">
                    <a (click)="remover(imagensDB.uid)" href="javascript:void(0);">
                        <i class="material-icons">close</i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>