<br>
<br>
<h4>Promoção Champios League</h4>
<br>

<div class="slider">
                <ul class="slides">
                  <li>
                    <img src="../assets/images/UEFAChampionsLeague.png"> <!-- random image -->
                    <div class="caption center-align">
                      <h3>Melhores Preços!</h3>
                      <h5 class="light grey-text text-lighten-3">Só aqui!.</h5>
                    </div>
                  </li>
                  <li>
                    <img src="../assets/images/vai.jpg"> <!-- random image -->
                    <div class="caption left-align">
                      <h3>Não perca tempo</h3>
                      <h5 class="light grey-text text-lighten-3">tire fotos iguais aos jogadores.</h5>
                    </div>
                  </li>
                  <li>
                    <img src="../assets/images/UEFAChampionsLeague.png"> <!-- random image -->
                    <div class="caption right-align">
                      <h3>Ande sempre com o seu club do lado</h3>
                      <h5 class="light grey-text text-lighten-3">Oferta imperdivel</h5>
                    </div>
                  </li>
                  <li>
                    <img src="../assets/images/planoDeFundo.jpg"> <!-- random image -->
                    <div class="caption center-align">
                      <h3>Só aqui na WEB-SPORT</h3>
                      <h5 class="light grey-text text-lighten-3">...</h5>
                    </div>
                  </li>
                </ul>
              </div>
<br>
<br>
<div><a routerLink="imagens"><h4>Venha Conferir Nossos Produtos</h4></a></div>
