<div class="col s12 m7">
    <h2 class="header">Desenvolvedor</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="../assets/images/eu.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>Michael Lucas Araújo Farias <br><br>

                        - Estudante do Instituto Federal De Garanhuns - Campus Garanhuns IFPE <br>
                        - Curso:  Informática <br>
                        - Turma:  4º ano
                </p>
            </div>
            <div class="card-action">
                <a href="#">Volte para a HOME</a>
            </div>
        </div>
    </div>
</div>