<nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right"> WEB-SPORT </a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a routerLink="usuarios">Usuario</a></li>
                <li><a routerLink="listaUsers">Lista de usuario</a></li>
                <li><a routerLink="imagens">Produtos</a></li>
                <li><a routerLink="imagens-compras">Carrinho</a></li>
            </ul>
        </div>
    </nav>
    
    <router-outlet></router-outlet>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2018 WEB-SPORT
                <a class="grey-text text-lighten-4 right" routerLink="desenvolverdor">Desenvolvedor</a>
            </div>
        </div>
    </footer>