<br>
<br>
<h4>Promoção Champios League</h4>
<br>

<div class="slider">
                <ul class="slides">
                  <li>
                    <img src="../assets/images/UEFAChampionsLeague.png"> <!-- random image -->
                    <div class="caption center-align">
                      <h3>Melhores Preços!</h3>
                      <h5 class="light grey-text text-lighten-3">Só aqui!.</h5>
                    </div>
                  </li>
                  <li>
                    <img src="../assets/images/vai.jpg"> <!-- random image -->
                    <div class="caption left-align">
                      <h3>Não perca tempo</h3>
                      <h5 class="light grey-text text-lighten-3">tire fotos iguais aos jogadores.</h5>
                    </div>
                  </li>
                  <li>
                    <img src="../assets/images/UEFAChampionsLeague.png"> <!-- random image -->
                    <div class="caption right-align">
                      <h3>Ande sempre com o seu club do lado</h3>
                      <h5 class="light grey-text text-lighten-3">Oferta imperdivel</h5>
                    </div>
                  </li>
                  <li>
                    <img src="../assets/images/planoDeFundo.jpg"> <!-- random image -->
                    <div class="caption center-align">
                      <h3>Só aqui na WEB-SPORT</h3>
                      <h5 class="light grey-text text-lighten-3">...</h5>
                    </div>
                  </li>
                </ul>
              </div>

<br>
<br>
<div class="carousel">
        <br>
        <h4>Camisas Esportivas</h4>
        <br>
        <br>
        <br>
        <a id="1" class="carousel-item"  href="../imagensCompras/efetuarCompraDaCamisa.component.html">
                <img src="assets/images/camisa1.png" (click)="cadastrar('camisa1')"></a>
        <a id="2" class="carousel-item"  href="../imagensCompras/efetuarCompraDaCamisa.component.html">
                <img src="assets/images/camisa2.png" (click)="cadastrar('camisa2')"></a>
        <a id="3" class="carousel-item"  href="../imagensCompras/efetuarCompraDaCamisa.component.html">
                <img src="assets/images/camisa3.png" (click)="cadastrar('camisa3')"></a>
        <a id="4" class="carousel-item"  href="../imagensCompras/efetuarCompraDaCamisa.component.html">
                <img src="assets/images/camisa4.png" (click)="cadastrar('camisa4')"></a>
        <a id="5" class="carousel-item" href="../imagensCompras/efetuarCompraDaCamisa.component.html">
                <img src="assets/images/camisa5.png" (click)="cadastrar('camisa5')"></a>
</div>